@import "../variables";
@import "../placeholders";

.footerTitleTextWrapper{
    color: $veryDark;
    font-size: $xsmall;
    font-weight: $normalWeight;
    @extend %pTagLineHeight;
    width: 70%;
}