@import "../variables";
@import "../placeholders";

.icon {
    justify-self: center;
    display: flex;
    gap: 30px;
    button {
        height: 55px;
        width: 55px;
        background-color: white;
        border: none;
        img {
            height: 100%;
            width: 100%;
        }
    }
}