@import "../variables";
@import "../placeholders";

.navWrapper{
    
    .navigation{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &__item{
        list-style: none;
        .primaryNavigation__link{
            text-decoration: none;
            color: $veryDark;
            font-size: $xsmall;
            font-weight: $normalWeight;
            text-shadow: 0 2px 10px rgba(0, 0, 0, .35);
            @extend %pTagLineHeight;
            }
        }
    }
}



