@import "../variables";
@import "../placeholders";

.agentProfileWrapper{
    position: relative;
    z-index: 0;
    .profileImageContainer {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    h3 {
        color: $darkning;
        font-size: $small;
        font-weight: $mediumWeight;
        padding: 20px;
        margin: 0;
    }
    p {
        color: #7B7B7B ;
        font-size: $xsmall;
        font-weight: $normalWeight;
        padding: 0;
        margin: 0;
        padding-bottom: 20px;

    }
    .linkContainer {
        position: relative;
        z-index: 1;
        width: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
