@import "../variables";
@import "../placeholders";

.infoWrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    //justify-content: space-between;
    margin: 0 auto;
    width: 59.34%;
    border-top: #D3DEE8 1px solid;
    padding-top: 100px;
}