.spinner{
    width: 4em;
    height: 4em;
    border-width: 0.25em;
    border-style: solid;
    border-color: gray transparent gray gray;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: spin 2s linear infinite;
}

@keyframes spin{
    100%{transform:rotate(360deg)}
}