//primary colors
$veryDark:#333333;
$darkblue:#162A41;
$lightgray:#AAAAAA;

//secondary colors
$redish:#DD4B39;
$middleblue:#3B5999;
$blue:#2F80ED;

//background colors
$grayish:#F8F8FB;

//icon colors
$green:#10AC84;
$red:#EB5757;
$yellow:#F2C94C;
$orange:#F2994A;

//modal
$darkning:#2A2C30;

//Fonts
//family font
$primaryFontFamily:'Roboto';

//font weight
$normalWeight:400;
$mediumWeight:500;
$boldWeight:700;

//font size
$xxxsmall:0.75em;//12px
$xxsmall:1em;//16px
$xsmall:1.12em;//18px
$small:1.25em;//20px

$smallMedium:1.5em;//24px
$medium:1.88em;//30px
$mediumLarge:2.38em;//38px

$large:3.26em;//50px
$xLarge:4.13em;//66px

//padding
$mainPadding:405px;
$logoPadding:306px;
$navPadding:40px;
$imgTextPadding:15px;
$imgTextBigPadding:20px;
$cardPadding:25px;
$buttonIconPadding:10px;








