@import "./variables";

body {
  margin: 0;
  font-family: $primaryFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li{
  list-style: none;
}

input, select, textarea{
  box-sizing: border-box;
  color: #7B7B7B;
  font-size: $xxsmall;
  padding: 15px 10px;
  border: #D3DEE8 1px solid;
  border-radius: 2px;

}

input[type="text"], textarea {
  background-color : white; 
}

textarea::placeholder {
  font-size: 1.2em;
}




